#counterlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: helvetica;
    }
#btncontainer{
    text-align: center;
    
}
.button{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: blue;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.button:hover{
    background-color: hsl(214,100%,56%);
}